* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

main {
    background-color: aquamarine;
    max-width: 1200px;
    margin: 0 auto;
}

div {
    width: 50%;
    height: 250px;
    margin: 0 auto 20px;
    border-radius: 10px;
}

.div1 {
    box-shadow: 16px 8px 2px rgba(0,0,0,0.3);
    background-color: lightblue;
    text-align: center;
    padding-top: 10px;
}

.div2 {
    background: radial-gradient(orange, white, pink);
    text-align: center;
}

.div3 {
    background: linear-gradient(45deg,orange, white, pink);
}

.div3 img {
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.div4 {
    box-shadow: 16px 8px 2px rgba(0,0,0,0.3);
    background: linear-gradient(45deg,pink, white, orange);
    padding: 12px;
}

.div5 {
    background: linear-gradient(45deg,orange, white, pink);
}

@media(min-width: 600px) {
    .div1 {
        background-color: lightyellow;
    }
        
    .div3 img {
        width: 200px;
        height: 100%;
        display: flex;
        margin: 0 auto;
        border-radius: 0px;
    }
}

@media(min-width: 1080px) {
    .div1 {
        background-color: gray;
    }

    .div3 img {
        width: 300px;
    }
}